[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    fixup = commit --fixup
    amend = commit --amend
	st = status 
	fap = fetch --all --prune
[color]
	ui = true
[core]
	editor = vim 
[user]
	name = Raphaël Mor
	email = raphael.mor@gmail.com
[push]
	default = simple
[rebase]
	autosquash = true
