# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Raphaël Mor
{{- if eq .chezmoi.hostname "aaaa-MacBook-Pro-de-Raphael" }}
email = raphael.mor@gmail.com 
{{- else }}
email = rmor@apple.com
{{- end }}

[alias]
st = status
ff = pull --fast-forward
